= simple_form_for @translation, :url => translation_engine.translations_path, :method => 'post' do |f|
  = f.error_notification

  .form-inputs
    = f.input :locale_id
    = f.input :translation_key_id
    = f.input :value

  .form-actions
    = f.button :submit
