%h1 Listing translations

%table
  %tr
    %th Locale
    %th Key
    %th Value
    %th
    %th
    %th

  - @translations.each do |translation|
    %tr
      %td= translation.locale_id
      %td= translation.key
      %td= translation.value
      %td= link_to 'Show', translation_engine.translation_path(translation.id)
      %td= link_to 'Edit', translation_engine.edit_translation_path(translation)
      %td= link_to 'Destroy', translation_engine.translation_path(translation), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New translation', translation_engine.new_translation_path
