%p#notice= notice

%p
  %b Locale:
  = @translation.locale_id
%p
  %b Key:
  = @translation.key
%p
  %b Value:
  = @translation.value

= link_to 'Edit', translation_engine.edit_translation_path(@translation)
\|
= link_to 'Back', translation_engine.translations_path
